.color {
  background-color: rgb(181, 232, 239);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  color: white;
}

ul,
div {
  background-color: var(--body_background);
  color: var(--body_color);

}

.text-transform {
  text-transform: capitalize;
}

.work-experience-item {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.title-container {
  grid-gap: 8px;
}

.title {
  grid-column: 1;
}

.location {
  grid-column: 2;
}

.work-experience-item span {
  margin-left: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}