.App {
  text-align: center;
}
/* .dark-mode{
  background-color: white;
  color:black
}
.light{
  background-color: black;
  color:white;
} */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header{
  background-color: black;
  color: white;
}
ul, div {
  background-color: var(--body_background);
  color: var(--body_color);
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
